/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/
#alignHearts {
    display: flex;
    width: 100%;
    margin: 50px;
    padding: 100px;
}

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/
    .navigation a {
        display: inline-block;
        text-align: center;
    }
    
    .navigation li {
        display: block;
    }
    
    .hamburger {
        display: none;
    }

/*----------- MAIN --------------*/
main .grid {
    display: grid;
    grid-template-columns: repeat(3, 185px);
    grid-column-gap: 200px;
    padding: px;
}

/*----------- FOOTER --------------*/

} /* end of media query */
