/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------------*/
    body {
        background-position: center 140px;
    }

/*----------- HEADER ------------------*/

/*----------- NAVIGATION --------------*/
    .topnav {
        display: inline-block;
        width: 100%;
        padding: 10px;
    }
    
    .topnav a {
        display: inline;
        color: ;
        font-size: 10px;
        text-align: center;
        padding: 0px;
        margin: 10px;

    }
    
    nav ul li {
        width: auto;
    }

    nav ul li a {
        padding: 1rem;
        height: 100%;
    }

    .hamburger {
        display: block;
        float: left;
    }
    
    .navigation li {
        display: none;
    }


/*----------- MAIN ---------------------*/
    .storeLocation {
        display: block;
    }

    main .sign, .storeLocation {
        margin: 4em;
    }

    main .grid {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-column-gap: 250px;
        padding: 15px;
    }
    
/*--------- dot decor ---------*/
.dot {
    display: inline-flex;
    border-radius: 50%;
    height: 20px;
    margin: 20px;
    width: 20px;
}

.dots {
    align-items: center;
    width: 100%;
    padding: 15px;
    margin: auto;
    padding-left: 8em;
    padding-right: 6em;
}

    
/*----------- Heart Animation ---------------------*/
#alignHearts {
    display: flex;
    width: 90%;
    margin: 50px;
    padding: 100px;
}

.heart {
    position: relative;
    top:  20px;
    padding: 20px;
    margin: 20px;

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transition: all 1s; 
}

.heart.css {  
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -ms-animation-delay:1s;
  -o-animation-delay:1s;
  animation-dely:1s;
}
    
/*----------------------------*/
        main .forecast {
        visibility: visible;
        background-color: #940D0B;
        border: 1px solid black;
        position: relative;
        top: 8px;
    }

    main th, td {
        border: 1px solid black;
        background-color: #F0DCB9;
    }

    main .conditions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    article {
        position: relative;
        top: 15px;
    }

    form {
        position: relative;
        top: 10px;
    }
    
/*----------- transition photos -----------*/
#photo1:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo2:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo3:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo4:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo5:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo6:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#clip {
    display: inline;
    padding: 1em; 
}

footer {
    position: relative;
    top: 4em;
}

/*----------- FOOTER --------------------*/

} /* end of media query */
