/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------------*/
    body {
        background-position: center 140px;
    }

/*----------- HEADER ------------------*/

/*----------- NAVIGATION --------------*/
    nav ul li {
        width: auto;
    }

    nav ul li a {
        padding: .5rem 1rem;
        height: 100%;
    }

    .hamburger {
        display: none;
    }


/*----------- MAIN ---------------------*/
    .storeLocation {
        display: block;
    }

    main .sign, .storeLocation {
        margin: 4em;
    }

    main .grid {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-column-gap: 250px;
        padding: 15px;
    }
    
    /*----------- transition photos -----------*/
#photo1:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo2:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo3:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo4:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo5:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#photo6:hover {
    transition: all 1s;
    transform: scale(1.5);
}

#clip {
    display: inline;
    padding: 1em; 
}

footer {
    position: relative;
    top: 4em;
}

/*----------- FOOTER --------------------*/

} /* end of media query */
