/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*--- apply a natural box layout model to all elements ---*/
* { display: block;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    margin: auto;
}

/*----------- BODY --------------*/
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Amatic SC', sans-serif;
    background-color: #F0DCB9;
}

/*---------------Week 06---------------*/
section {
    display: block;
    width: auto;
    margin: 25px;
    padding: 50px;
    font-size: 1.5em;
    text-align: center;
}

/*----------- HEADER --------------*/
header {
    background-color: #105761;
    text-align: center;
    color: white;
    padding: 2px;
    margin: 2px;
    background-color: #105761;
}

/*------------- Local Storage --------------*/


/*----------- NAVIGATION --------------*/
nav {
    text-align: center;
    padding: 2px;
    margin: 25px;
    background-color: #940D0B;
    text-align: center;
    color: white;
}

/*----------- MAIN --------------*/
h3 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 40px;
    text-align: center;
    margin:auto;
}

main {
    padding: 0 2%;
    min-height: 10rem;
}

html {
    display: inline;
}

.hideMe {
      visibility: hidden;
      opacity: 0;
      transform: scale(.75);
}

#animalInfo {
    display: block;
    width: auto;
    margin: 25px;
    padding: 50px;
    font-size: 1.5em;
    text-align: center;
    color: #FF5100;
}

button {
  display: inline-block;
  background-color: #940D0B;
  color: #FFF;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;
  top: -10px;
}

button:hover {
  background-color: #034F66;
}

button:active {
  background-color: #034154;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #105761;
    text-align: center;
    color: white;    
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
