/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

    /*----------- BODY --------------*/

#colorGrid {
    display: block;
}

    /*----------- HEADER --------------*/



    /*----------- NAVIGATION --------------*/



    /*----------- MAIN --------------*/
.one {
    display: block;
    width: 100%;
    margin: auto;
    padding: 50px;
}

#output {
    font-size: 2em;
}

.input {
    width: 50%;
    margin: 50%;
    padding: 50px;
}


    /*----------- FOOTER --------------*/

} /* end of media query */
