
* {
    margin: 50px;
    box-sizing: border-box;
    background-color: #F0DCB9;
}

html {
    display: inline;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    text-align: center;
    margin:auto;
    color: #FF5100;
}


h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    margin:auto;
}

.transition {
    margin: 15px;
}

.transition {
    display: inline;
    width: 300px;
}

h1 {
    color: #FF5100;
    font-family: 'Amatic SC', cursive;
    font-weight: 25px;
    font-size: 40px;
    font-weight: 200;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.sphere {
    border-radius: 50%;
    height: 100px;
    margin: 100px auto;
    width: 100px;
}

.sphere1 {
    background: #940D0B;
}

.sphere2 {
    background: #105761;
        transition: all 1s;
}

.sphere:hover {
    transform: scale(4);
}
/*--------- Spot manipulation with JavaScript -------*/

.spot {
    border-radius: 50%;
    height: 250px;
    margin: 250px auto;
    width: 250px;
    background: #940D0B;
    margin: auto;
}

.spot2 {
    border-radius: 50%;
    height: 250px;
    margin: 250px auto;
    width: 250px;
    background: #FF5100;
    margin: auto;
}

.spot3 {
    border-radius: 50%;
    height: 250px;
    margin: 250px auto;
    width: 250px;
    background: #105761;
    margin: auto;
}

.spotManipulation {
    
    
}

/*--------- Animation color-change ---------*/
@-webkit-keyframes square-to-circle {
    0% {
        border-radius: 0 0 0 0;
        background-color: #940D0B;
        transform: rotate(0deg);
    }

    25% {
        border-radius: 50% 0 0 0;
        background-color: #105761;
        transform: rotate(45deg);
    }

    50% {
        border-radius: 50% 50% 0 0;
        background-color: #FF5100;
        transform: rotate(90deg);
    }

    75% {
        border-radius: 50% 50% 50% 0;
        background-color: #940D0B;
        transform: rotate(135deg);
    }

    100% {
        border-radius: 50%;
        background-color: #105761;
        transform: rotate(180deg);
    }
}

.sphere3 {
    margin:auto;
    width: 150px;
    height: 150px;
    outline: 1px solid transparent;
    -webkit-animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    -moz-animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    -ms-animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    -o-animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*--------- TRANSITION DEMONSTRATION -------*/
nav {
    text-align: center;
    margin:auto;
}

.bar {
    margin: 10px 0px;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.bar1, .bar2, .bar3, .bar4, .bar5 {
    width: 5em;
    height: 5em;
}

.bar1 {
    background-color: #940D0B;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}

.bar2 {
    background-color: #FF5100;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

.bar3 {
    background-color: #105761;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
}

.bar4 {
    background-color: #FF5100;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
}

.bar5 {
    background-color: #940D0B;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

.bar:hover {
    width: 300px;
}

/*--------- Cubic-bezier ---------*/

.bezier {
    width: 5em;
    height: 5em;
    background-color: #105761;
    transition: width 2s;
    transition-timing-function: cubic-bezier(0,.8,.96,.07);
}

.bezier:hover {
    width: 300px;
}

/*--------- Transition & Transform ---------*/
.transform {
    width: 5em;
    height: 5em;
    background-color: #FF5100;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transform: width 2s, height 2s, -webkit-transform 2s;
}

.box:hover {
    width: 300px;
    height: 300px;
    -webkit-transition: rotate(180deg);
    transform: rotate(180deg);
}

/*--------- Transition delay ---------*/
.delay {
    width: 5em;
    height: 5em;
    background-color: #940D0B;
    -webkit-transition-property: width;
    -webkit-transition-duration: 5s;
    -webkit-transition-delay: 2s;
    transition-property: width;
    transition-duration: 5s;
    transition-delay: 2s;
}

.box:hover {
    width: 300px;
}

/*--------- Transform & Animation ---------*/
.dot {
    border-radius: 50%;
    height: 20px;
    margin: 20px auto;
    width: 20px;
}

.dots {

    width: 800px;
    padding-top: 100px;
    margin: 0 auto;
}

.dot1 {
    -webkit-animation:right 1s infinite ease-in-out;
    background-color: #940D0B;
    -moz-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out;
}

.dot2 {
    -webkit-animation: left 1.1s infinite ease-in-out;
    background-color: #FF5100;
    -moz-animation: left 1.1s infinite ease-in-out;
    animation: left 1.1s infinite ease-in-out;
}

.dot3 {
    -webkit-animation: right 1.05s infinite ease-in-out;
    background-color: #105761;
    -moz-animation: right 1.05s infinite ease-in-out;
    animation: right 1.05s infinite ease-in-out;
}

.dot4 {
    -webkit-animation: left 1.15s infinite ease-in-out;
    background-color: #940D0B;
    -moz-animation: left 1.15s infinite ease-in-out;
    animation: left 1.15s infinite ease-in-out;
}

.dot5 {
    -webkit-animation: right 1.1s infinite ease-in-out;
    background-color: #FF5100;
    -moz-animation: right 1.1s infinite ease-in-out;
    animation: right 1.1s infinite ease-in-out;
}

/*--------- HTML5 Tags - Videos ---------*/
.videoContainer {

}

.video1 {
    margin: 1em auto;
    display: block;
    position: relative;
    max-width: 100%;
}

video {
    border-radius: 8px;
}

/*---------- HTML5 Tags - Audio ----------*/
h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    text-align: center;
    margin:auto;
}

audio {
    display: block;
    margin: 1em auto;
    position: relative;
    max-width: 100%;
}

/*---------- HTML5 Tags - Canvas ----------*/
canvas {
    display: block;
    margin: ;0
    padding: 0;
    background: black;
    width: 85%;
}

/*---------------- Footer -----------------*/
p {
    text-align: center;
}

/*---------------------- Keyframes ---------------------*/
@-webkit-keyframes left {
    0% {
        -webkit-transform: translate(25px);
    }
    50% {
        -webkit-transform: translate(-25px);
    }
    100% {
        -webkit-transform: translate(25px);
    }
}

@-moz-keyframes right {
    0% {
        -moz-transform: translate(-25px);
    }
    50% {
        -moz-transform: translate(25px);
    }
    100% {
        -moz-transform: translate(-25px);
    }
}

@-moz-keyframes left {
    0% {
        -moz-transform: translate(25px);
    }
    50% {
        -moz-transform: translate(-25px);
    }
    100% {
        -moz-transform: translate(25px);
    }
}

@keyframes right {
    0% {
        transform: translate(-25px);
    }
    50% {
        transform: translate(25px);
    }
    100% {
        transform: translate(-25px);
    }
}

@keyframes left {
    0% {
        transform: translate(25px);
    }
    50% {
        transform: translate(-25px);
    }
    100% {
        transform: translate(25px);
    }
}
