/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*--- apply a natural box layout model to all elements ---*/
* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
    display: inline-block;
    font-size: 16px;
    font-family: 'Amatic SC', sans-serif;
    background-color: #F0DCB9;
    width: 100%;
    margin: auto;
    padding: 25px;
}

/*----------- HEADER --------------*/
header {
    background-color: #105761;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 25px;
    background-color: #105761;
}

header h1 {
    margin: 0;
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
}

header h2 {
    margin: 0; 
    font-weight: normal;
    text-align: center;
}

header img {
    border: 5px solid #F0DCB9;
    border-radius: 15px;
    padding: 5px;
    height: 25%;
    width: 25%;
}

/*----------- NAVIGATION --------------*/
nav {
    text-align: center;
    padding: 2px;
    margin: 25px;
    background-color: #940D0B;
    text-align: center;
    color: white;
}

/*----------- MAIN --------------*/
.indexList {
    padding: 25px;
    margin: 10px;
}

main {
    padding: 0 2%;
    min-height: 10rem;
}

html {
    display: inline;
}

h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 35px;
    text-align: center;
    margin:auto;
    color: #FF5100;
}

h3 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 40px;
    text-align: center;
    margin:auto;
}

.transition {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 50px;
}

.transition {
    display: inline;
    width: 300px;
}

h1 {
    color: #FF5100;
    font-family: 'Amatic SC', cursive;
    font-weight: 25px;
    font-size: 40px;
    font-weight: 200;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.sphere {
    border-radius: 50%;
    height: 100px;
    margin: 100px auto;
    width: 100px;
}

.sphere1 {
    background: #940D0B;
}

.sphere2 {
    background: #105761;
        transition: all 1s;
}

.sphere:hover {
    transform: scale(4);
}

/*-----Spot manipulation with JavaScript-----*/
#dots {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 50px;
}

.spot {
    border-radius: 50%;
    height: 250px;
    margin: 250px auto;
    width: 250px;
    background: #940D0B;
    margin: auto;
}

.spot2 {
    border-radius: 50%;
    height: 250px;
    margin: 250px auto;
    width: 250px;
    background: #FF5100;
    margin: auto;
}

.spot3 {
    border-radius: 50%;
    height: 250px;
    margin: 250px auto;
    width: 250px;
    background: #105761;
    margin: auto;
}

/*------- Animation color-change -------*/
#animation {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 50px;
}

@-webkit-keyframes square-to-circle {
    0% {
        border-radius: 0 0 0 0;
        background-color: #940D0B;
        transform: rotate(0deg);
    }

    25% {
        border-radius: 50% 0 0 0;
        background-color: #105761;
        transform: rotate(45deg);
    }

    50% {
        border-radius: 50% 50% 0 0;
        background-color: #FF5100;
        transform: rotate(90deg);
    }

    75% {
        border-radius: 50% 50% 50% 0;
        background-color: #940D0B;
        transform: rotate(135deg);
    }

    100% {
        border-radius: 50%;
        background-color: #105761;
        transform: rotate(180deg);
    }
}

.sphere3 {
    margin:auto;
    width: 150px;
    height: 150px;
    outline: 1px solid transparent;
    -webkit-animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    -moz-animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    -ms-animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    -o-animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#transition4 {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 50px;
}

/*------ TRANSITION DEMONSTRATION ------*/
#transition3 {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 50px;
}

#transition5 {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 50px;
}

.bar {
    margin: 10px 0px;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.bar1, .bar2, .bar3, .bar4, .bar5 {
    width: 5em;
    height: 5em;
}

.bar1 {
    background-color: #940D0B;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}

.bar2 {
    background-color: #FF5100;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
}

.bar3 {
    background-color: #105761;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
}

.bar4 {
    background-color: #FF5100;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
}

.bar5 {
    background-color: #940D0B;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

.bar:hover {
    width: 300px;
}

/*--------- Cubic-bezier ---------*/
#transition4 {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 50px;
}

.bezier {
    width: 5em;
    height: 5em;
    background-color: #105761;
    transition: width 2s;
    transition-timing-function: cubic-bezier(0,.8,.96,.07);
}

.bezier:hover {
    width: 300px;
}

/*--------- Transition delay ---------*/
.delay {
    width: 5em;
    height: 5em;
    background-color: #940D0B;
    -webkit-transition-property: width;
    -webkit-transition-duration: 5s;
    -webkit-transition-delay: 2s;
    transition-property: width;
    transition-duration: 5s;
    transition-delay: 2s;
}

.box:hover {
    width: 300px;
}

/*--------- Transform & Animation ---------*/
.dot {
    border-radius: 50%;
    height: 20px;
    margin: 20px auto;
    width: 20px;
}

.dots {
    
    width: 100%;
    padding: 100px;
    margin: 0 auto;
}

.dot1 {
    -webkit-animation:right 1s infinite ease-in-out;
    background-color: #940D0B;
    -moz-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out;
}

.dot2 {
    -webkit-animation: left 1.1s infinite ease-in-out;
    background-color: #FF5100;
    -moz-animation: left 1.1s infinite ease-in-out;
    animation: left 1.1s infinite ease-in-out;
}

.dot3 {
    -webkit-animation: right 1.05s infinite ease-in-out;
    background-color: #105761;
    -moz-animation: right 1.05s infinite ease-in-out;
    animation: right 1.05s infinite ease-in-out;
}

.dot4 {
    -webkit-animation: left 1.15s infinite ease-in-out;
    background-color: #940D0B;
    -moz-animation: left 1.15s infinite ease-in-out;
    animation: left 1.15s infinite ease-in-out;
}

.dot5 {
    -webkit-animation: right 1.1s infinite ease-in-out;
    background-color: #FF5100;
    -moz-animation: right 1.1s infinite ease-in-out;
    animation: right 1.1s infinite ease-in-out;
}

/*--------- HTML5 Tags - Videos ---------*/
.video1 {
    margin: 1em auto;
    display: block;
    position: relative;
    max-width: 100%;
}

video {
    border-radius: 8px;
}

/*---------- HTML5 Tags - Audio ----------*/
h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    text-align: center;
    margin:auto;
}

audio {
    display: block;
    margin: 1em auto;
    position: relative;
    max-width: 100%;
    padding: 50px;
}

/*---------- HTML5 Tags - Canvas ----------*/
#myMatrix {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 50px;
}

canvas {
    width: 100%;
}

/*---------------- DOM Manipulation -----------------*/
.block1 {
    border: 2px;
    border-color: black;
    margin: 20px;
}

.block2 {
    border: 2px;
    border-color: black;
    margin: 20px;
}

.block3 {
    border: 2px;
    border-color: black;
    margin: 20px;
}

/*---------------- DOM Manipulation -----------------*/
#content {
  width: 400px;
  background: #fff;
  padding: 0px;
  padding-top: 0;
  font-family: calibri;
  font-size: 18px;
  color: #444;
  margin: 0 auto;
  /*max-height:270px;*/
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}

#content.open {
  max-height: 1000px;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}

#show-photo {
  background: #1594e5;
  color: #fff;
  font-family: calibri;
  display: block;
  margin: 20px auto;
  width: 140px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
}

/*----------------- L05 Color Change -------------------*/
.familyList {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 25px;
}

.seaGreen {
  background-color: #105761;
}

.maroon {
  background-color: maroon;
}

/*Container and Button Styles*/

#ball {
    display: block;
    align-items: center;
}

#container {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
button {
  height: 30px;
  border-radius: 10px;
  background-color: white;
  border-color: white;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: lightgray;
  border-color: gray;
}

.one {
    display: block;
    width: 25%;
    margin: auto;
    padding: 50px;
}

/*----------------- L05 JSON Parse and Stringify -------------------*/
.json {
    display: block;
    font-size: 5em;
    margin: 50px;
    text-align: center;
}

/*---------------------- Keyframes ---------------------*/
@-webkit-keyframes left {
    0% {
        -webkit-transform: translate(25px);
    }
    50% {
        -webkit-transform: translate(-25px);
    }
    100% {
        -webkit-transform: translate(25px);
    }
}

@-moz-keyframes right {
    0% {
        -moz-transform: translate(-25px);
    }
    50% {
        -moz-transform: translate(25px);
    }
    100% {
        -moz-transform: translate(-25px);
    }
}

@-moz-keyframes left {
    0% {
        -moz-transform: translate(25px);
    }
    50% {
        -moz-transform: translate(-25px);
    }
    100% {
        -moz-transform: translate(25px);
    }
}

@keyframes right {
    0% {
        transform: translate(-25px);
    }
    50% {
        transform: translate(25px);
    }
    100% {
        transform: translate(-25px);
    }
}

@keyframes left {
    0% {
        transform: translate(25px);
    }
    50% {
        transform: translate(-25px);
    }
    100% {
        transform: translate(25px);
    }
}

/*----------- FOOTER --------------*/
footer {
    background-color: #105761;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 25px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;

    