/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    h2 {
        text-align: center;
        margin:auto;
    }

    /*----------- BODY --------------*/
    .parent {
        text-align: center;
        width: 250px;
        height: 125px;
    }

    .circle {
        font-size: 15px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #FFAB00;
        position: absolute;
        -webkit-transition-property: width height background-color font-size left top color;
        -webkit-transition-duration: 2s;
        -webkit-transition-delay: 2s;
        -webkit-transition-timing-function: linear;
        transition-property: width height background-color font-size left top color;
        transition-duration: 2s;
        transition-delay: 2s;
        transition-timing-function: linear;
    }

    /*----------- HEADER --------------*/


    /*----------- NAVIGATION --------------*/


    /*----------- MAIN --------------*/


    /*----------- FOOTER --------------*/

} /* end of media query */
