/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    h2 {
        text-align: center;
        margin:auto;
    }

    /*----------- BODY --------------*/
    .parent {
        width: 250px;
        height: 125px;
    }

    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #430711;
    }

    /*----------- HEADER --------------*/


    /*----------- NAVIGATION --------------*/


    /*----------- MAIN --------------*/


    /*----------- FOOTER --------------*/

} /* end of media query */
